<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d %green(%5p) %boldMagenta(${PID}) --- [ %20t ] %blue(%-50logger{50}) : %m%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d %5p ${PID} --- [ %20t ] %-50logger{50} : %m%n"/>

    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】,,, -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <!-- 控制台也要使用UTF-8，不要使用GBK，否则会中文乱码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="applogs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/logs.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/logs.%d.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 控制台输出日志级别 -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 包服务输出日志级别 -->
    <logger name="ovv.manage.jtds" level="DEBUG">
        <appender-ref ref="applogs" />
    </logger>
</configuration>