<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ovv.manage.jtds.mapper.LoginMapper">
    <select id="queryPayInfo" parameterType="java.lang.String" resultType="ovv.manage.jtds.entity.PayInfo">
        select * from jtds_payinfo where create_date = #{createDate} and record_userid = #{recordUserid}
    </select>

    <insert id="insertPayInfo" parameterType="ovv.manage.jtds.entity.PayInfo">
        insert into jtds_payinfo values (#{id},#{recordUserid},#{amt},#{persionsId},#{remake},#{createDate},#{isJiezhang})
    </insert>
</mapper>