<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ovv.manage.jtds.mapper.PayInfoMapper">
    <select id="queryPayInfo" parameterType="ovv.manage.jtds.entity.PayInfo" resultType="ovv.manage.jtds.entity.PayInfo">
        select * from jtds_payinfo where 1=1
        <if test="info != null">
             <if test="info.payDate != null and info.payDate !='' ">
              and pay_date = #{info.payDate}
            </if>
            <if test="info.recordUserName != null and info.recordUserName !='' ">
                and record_user_name like "%"#{info.recordUserName}"%"
            </if>
            <if test="info.isAccount != null and info.isAccount !='' ">
                and is_account = #{info.isAccount}
            </if>
        </if>
        order by pay_date desc
    </select>

    <insert id="insertPayInfo" parameterType="ovv.manage.jtds.entity.PayInfo">
        insert into jtds_payinfo values (#{id},#{recordUserId},#{recordUserName},#{amt},#{involveUserId},#{involveUserName},#{remake},#{payDate},#{updateTime},#{accountNo},#{isAccount},#{createDate})
    </insert>

    <select id="queryPayAccount" parameterType="ovv.manage.jtds.entity.PayAccount" resultType="ovv.manage.jtds.entity.PayAccount">
       select * from jtds_pay_account where 1=1
        <if test="info != null">
            <if test="info.isAccount != null ">
                and is_account = #{info.isAccount}
            </if>
            <if test="info.userId != null and info.userId !='' ">
                and user_id = #{info.userId}
            </if>
        </if>
    </select>

    <insert id="insertPayAccount" parameterType="ovv.manage.jtds.entity.PayInfo">
        insert into jtds_pay_account values (#{id},#{userId},#{userName},#{hasPay},#{shouldPay},#{accountNo},#{updateTime},#{isAccount})
    </insert>

    <update id="updatePayAccount" parameterType="ovv.manage.jtds.entity.PayInfo">
        update jtds_pay_account set has_pay = #{hasPay},should_pay = #{shouldPay},update_time = #{updateTime} where id = #{id}
    </update>

    <update id="sudoPayAccount">
        update jtds_pay_account set is_account = 1 where is_account = 0
    </update>

    <update id="sudoPayInfo">
        update jtds_payinfo set is_account = 1 where is_account = 0
    </update>

</mapper>