<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ovv.manage.jtds.mapper.PayInfoMapper">
    <select id="queryPayInfo" parameterType="ovv.manage.jtds.entity.PayInfo" resultType="ovv.manage.jtds.entity.PayInfo">
        select * from jtds_payinfo where 1=1
        <if test="info != null">
             <if test="info.payDate != null and info.payDate !='' ">
              and pay_date = #{info.payDate}
            </if>
            <if test="info.recordUserName != null and info.recordUserName !='' ">
                and record_user_name like "%"#{info.recordUserName}"%"
            </if>
        </if>
    </select>

    <insert id="insertPayInfo" parameterType="ovv.manage.jtds.entity.PayInfo">
        insert into jtds_payinfo values (#{id},#{recordUserId},#{recordUserName},#{amt},#{involveUserId},#{involveUserName},#{remake},#{payDate},#{updateTime},#{accountNo},#{isAccount},#{createDate})
    </insert>

    <select id="queryPayAccount" resultType="ovv.manage.jtds.entity.PayAccount">
       select u.id user_id,u.user_name,p.involve_user_id,
       (case when p.amt is null then 0 else p.amt end) has_pay,(0) should_pay,(0) is_account
        from jtds_user u
        left join jtds_payinfo p on p.record_user_id = u.id;
        where p.is_account = 0
    </select>
</mapper>